<template name="OptionT">
	<option data-icon="./resource/democrat.svg" data-subtext="{{partyIcon}}" value={{name}}> 
		{{name}} 
	</option> 
</template>

<template name="OptionsT">
	{{#if dataIsLoaded}}
		<select id="e1" class="col-md-12" multiple data-size="10" data-show-subtext="true" data-live-search="true">	
			{{#each state}}
				<optgroup label={{label}}>
					{{#each politiciansPerState}} 
						{{> OptionT}}
					{{/each}}
				</optgroup> 
			{{/each}}
		</select>
	{{else}}
		<h3> Hang on, loading the list of politicians... </h3>
	{{/if}}
</template>

<template name="ListOfPoliticiansT">
	{{> OptionsT}}
</template>