<template name="PastTimeT">
	<div id="button-group" class="btn-group btn-sm"  data-toggle="buttons">
		<label id="past_month" class="btn btn-sm btn-primary active">
			<input type="radio" name="options" id="pastMonth"> {{i18n "pastMonth"}}
		</label>
		<label id="past_week" class="btn btn-sm btn-primary">
			<input type="radio" name="options" id="pastWeek"> {{i18n "pastWeek"}}
		</label>
		<label id="past_3_days" class="btn btn-sm btn-primary">
			<input type="radio" name="options" id="past3Day"> {{i18n "past3Days"}}
		</label>
		<label id="past_day" class="btn btn-sm btn-primary">
			<input type="radio" name="options" id="pastDay"> {{i18n "pastDay"}}
		</label>
		<label id="past_8_hours" class="btn btn-sm btn-primary">
			<input type="radio" name="options" id="past8Hour"> {{i18n "past8Hours"}}
		</label>
		<label id="past_hour" class="btn btn-sm btn-primary">
			<input type="radio" name="options" id="past1Hour"> {{i18n "pastHour"}}
		</label>
		<label id="past_5_min" class="btn btn-sm btn-primary">
			<input type="radio" name="options" id="past5Min"> {{i18n "past5Min"}}
		</label>
	</div>
</template>