/* CSS declarations go here */

/*.row > div {
	background-color: #dedef8;
	box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
}*/

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}