<template name="cover_0">
	<div id="cover-0" class="site-wrapper blurred-background" >
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover" style="color:#fff;">
					<h1>{{i18n "teaserQuestion"}}</h1>
					<p class="lead"> {{{i18n "goalStatement"}}}</p>
					<p class="lead">
						<a class="btn btn-lg btn-info" href="{{ pathFor 'howToSentimentPlot'}}"> {{i18n "howToSentimentPlot.headline"}}</a>
						{{> getStartedButton}}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>