<template name="howToSelectPolitician">
	<div id="cover-2" class="site-wrapper explanation-image" >
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<h1> {{i18n "howToSelectPolitician.headline"}} </h1>
					<p class="lead">
						{{i18n "howToSelectPolitician.leadParagraph"}}
					</p>
					<p class="lead text-center" >
						<img src="{{selectBox}}" width="60%"/>
					</p>
					<p class="lead">
						<a href="{{ pathFor 'howToSelect' }}" class="btn btn-lg btn-info"> 
							{{i18n "howToSelectInterval.headline"}} 
						</a>
						{{> GetStartedButtonT}}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>