<template name="howToSentimentPlot">
	<div class="site-wrapper explanation-image" >
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="inner cover">
					<h1> {{{i18n "howToSentimentPlot.headline"}}}</h1>
					<p class="lead">
						{{{i18n "howToSentimentPlot.leadParagraph"}}}
					</p>
					<p class="lead">
						<img src="{{curveExplanation}}" width="100%"/>
					</p>
					<p class="lead">
						<a class="btn btn-lg btn-info" href="{{ pathFor 'howToSelectPolitician'}}"> {{i18n "howToSelectPolitician.headline"}}</a>
						{{> GetStartedButtonT}}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>